@import url("resource:///org/numixproject/gtk-3.20/dist/gtk.css");


headerbar {
  border-radius: 0 0 0 0;
}

headerbar .title {
  border-radius: 0 0 0 0;
}

.csd .titlebar {
 border-radius: 0;
}

.window-frame {
 border-radius: 0;
}

decoration, window, window.background, window.titlebar, * {
border-radius: 0px;
}

.titlebar,
.titlebar .background, * {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}


.window-frame {
    border-radius: 0 0 0 0;
}

.background.csd {
    border-radius: 0 0 0px 0px;
}
.background.maximized, .background.solid-csd {
    border-radius: 0;
}

.window-frame, .window-frame:backdrop {
 box-shadow: 0 0 0 black;
 border-style: none;
 margin: 0;
 border-radius: 0;
}

.titlebar {
 border-radius: 0;
} 
