:root {
  /* Everforest color pallete */
  --bg-dim: #293136;
  --bg0: #333c43;
  --bg1: #3a464c;
  --bg2: #434f55;
  --bg3: #4d5960;
  --bg4: #555f66;
  --bg5: #5d6b66;

  --gray0: #7a8478;
  --gray1: #859289;
  --gray2: #9da9a0;

  --bg-red: #5c3f4f;
  --bg-visual: #59464c;
  --bg-yellow: #55544a;
  --bg-green: #48584e;
  --bg-blue: #3f5865;

  --fg: #d3c6aa;
  --red: #e67e80;
  --orange: #e69875;
  --yellow: #dbbc7f;
  --green: #a7c080;
  --blue: #7fbbb3;
  --aqua: #83c092;
  --purple: #d699b6;

  --normal: #a7c080;
  --insert: #d3c6aa;
  --visual: #e67e80;
  --search: #d699b6;
  --replace: #e69875;
  --command: #7fbbb3;
}

/* Disable window icon */
.window-appicon {
  display: none;
}

/* Disable window title */
.window-title {
  display: none;
}

/* Hover animation on menu */
div.titlebar-left > div.menubar,
.action-toolbar-container {
  font-size: 12px;
  opacity: 0;
  transition: 0.1s ease-in;
}
div.titlebar-left > div.menubar:hover,
.action-toolbar-container:hover {
  opacity: 1;
}

/* Widget  */
.monaco-scrollable-element {
  border-radius: 0px !important;
}
.menubar-menu-title {
  border-radius: 0px !important;
}
.quick-input-widget {
  border-radius: 0px !important;
  top: 50% !important;
  transform: translate(-0%, -50%);
}
.monaco-list-row {
  border-radius: 0px !important;
  width: 100%;
}
#quickInput_list > div {
  padding: 0px;
}
body
  > div
  > div.quick-input-widget.show-file-icons.hidden-input
  > div.quick-input-list {
  padding: 0px;
  margin: 0px;
}
#quickInput_list {
  padding: 0px;
  margin: 0px;
}
#workbench\.parts\.editor
  > div.content
  > div
  > div
  > div
  > div
  > div.monaco-scrollable-element
  > div.split-view-container
  > div
  > div
  > div.editor-container
  > div
  > div
  > div.overflowingContentWidgets
  > div
  > div.monaco-hover {
  border: 0;
}

/* Tabs */
.tabs-container > div {
  min-width: 150px !important;
  width: auto !important;
  text-align: center !important;
}
.tab-border-top {
  background-color: var(--bg0) !important;
}
.tab-border-top-container {
  display: none !important;
}

/* Sticky scroll */
div.sticky-widget {
  background-color: var(--bg0) !important;
}

/* Line number */
.line-numbers {
  font-style: italic;
  text-align: center !important;
}
div.margin {
  margin-left: 8px;
}
.active-line-number > span {
  color: var(--gray1) !important;
}

/* Sidebar */
.composite-bar-container {
  justify-content: center;
}
.composite.title {
  border-bottom: 1px solid var(--bg0) !important;
  margin-bottom: 5px;
}
.title-label {
  display: none !important;
}
.title-actions {
  margin: 0 auto;
}

/* File tree */
.monaco-list-row.focused {
  padding: 0;
  border-left: solid 8px var(--fg) !important;
}

/* Status bar order */
#status\.scm\.0,
#status\.scm\.1 {
  order: -9;
}
#alefragnani\.project-manager\.projectManager\.statusBar {
  order: -8;
}
#status\.problems {
  order: -7;
  padding: 0 15px 0 0;
}

/* Vim status line */
#asvetliakov\.vscode-neovim\.vscode-neovim-status > a {
  color: var(--bg-dim);
  justify-content: center;
  /* margin: 0 auto; */
  margin-left: 0px !important;
  /* padding: 0 20px 0 13px !important; */
  /* padding: 0 20px 0 15px; */
  padding: 0px 200;
  font-size: 17px !important;
  font-weight: 500;
  transition: 0.3s;
}

/* Status color */
#asvetliakov\.vscode-neovim\.vscode-neovim-status [aria-label='NORMAL'] {
  background-color: var(--normal);
  color: transparent;
}
#asvetliakov\.vscode-neovim\.vscode-neovim-status [aria-label^='INSERT'] {
  background-color: var(--insert);
  color: transparent;
}
#asvetliakov\.vscode-neovim\.vscode-neovim-status [aria-label*='V'] {
  background-color: var(--visual);
  color: transparent;
}
#asvetliakov\.vscode-neovim\.vscode-neovim-status [aria-label*='REPLACE'] {
  background-color: var(--replace);
  color: transparent;
}
#asvetliakov\.vscode-neovim\.vscode-neovim-status [aria-label*=':'] {
  background-color: var(--command);
  color: transparent;
}
#asvetliakov\.vscode-neovim\.vscode-neovim-status [aria-label*='/'] {
  background-color: var(--search);
  color: transparent;
}

/* Status text*/

#asvetliakov\.vscode-neovim\.vscode-neovim-status [aria-label]::after {
  color: var(--bg-dim);
  position: absolute;
}

#asvetliakov\.vscode-neovim\.vscode-neovim-status [aria-label='NORMAL']::after {
  content: 'NORMAL';
}
#asvetliakov\.vscode-neovim\.vscode-neovim-status [aria-label='INSERT']::after {
  content: 'INSERT';
}
#asvetliakov\.vscode-neovim\.vscode-neovim-status
  [aria-label*='VISUAL']::after {
  content: 'VISUAL';
}
#asvetliakov\.vscode-neovim\.vscode-neovim-status [aria-label*='V·L']::after {
  content: 'V·LINE';
}
#asvetliakov\.vscode-neovim\.vscode-neovim-status [aria-label*='V·B']::after {
  content: 'V·BLOCK';
}
#asvetliakov\.vscode-neovim\.vscode-neovim-status
  [aria-label='REPLACE']::after {
  content: 'REPLACE';
}
#asvetliakov\.vscode-neovim\.vscode-neovim-status [aria-label*=':']::after {
  content: 'COMMAND';
}
#asvetliakov\.vscode-neovim\.vscode-neovim-status [aria-label*='/']::after {
  content: 'SEARCH';
}
/* @media only screen and (max-width: 1024px) {
  #asvetliakov\.vscode-neovim\.vscode-neovim-status
    [aria-label='NORMAL']::after {
    content: 'N';
  }
} */

#workbench\.parts\.statusbar {
  background-color: var(--vscode-terminal-ansiBlack) !important;
}
#asvetliakov\.vscode-neovim\.vscode-neovim-status,
#status\.scm\.0,
#status\.scm\.1,
#alefragnani\.project-manager\.projectManager\.statusBar,
#status\.problems,
#status\.notifications,
#Compulim\.vscode-clock,
#esbenp\.prettier-vscode\.prettier\.status,
#ritwickdey\.LiveServer,
#status\.editor\.mode,
#status\.languageStatus,
#status\.editor\.indentation {
  color: #9da9a0;
  background-color: var(--vscode-editorWhitespace-foreground);
}

#asvetliakov\.vscode-neovim\.vscode-neovim-status > a,
#status\.problems {
  clip-path: polygon(
    0% 0%,
    calc(100% - 10px) 0%,
    100% 50%,
    calc(100% - 10px) 100%,
    0% 100%
  );
}

#status\.notifications {
  order: -10;
}
#Compulim\.vscode-clock {
  order: -9;
}
#esbenp\.prettier-vscode\.prettier\.status {
  order: -8;
}
#ritwickdey\.LiveServer {
  order: -7;
}
#status\.editor\.mode,
#status\.languageStatus {
  order: -6;
}
#status\.editor\.indentation {
  order: -5;
}
#status\.notifications,
#status\.notifications > a {
  margin: 0px;
  padding: 0 5px;
}
#status\.notifications > a > span {
  font-weight: 600 !important;
}

#Compulim\.vscode-clock > a,
#status\.editor\.indentation {
  padding: 0 0 0 15px;
  clip-path: polygon(
    100% 0%,
    calc(10px) 0%,
    0% 50%,
    calc(10px) 100%,
    100% 100%
  );
}
#Compulim\.vscode-clock > a,
#status\.notifications {
  font-size: 15px;
  font-weight: 500;
  background-color: var(--vscode-terminal-ansiGreen);
  color: var(--vscode-menu-background);
  margin: 0;
}
.monaco-editor .suggest-widget .monaco-list-row {
  left: -2px !important;
}
.monaco-editor .suggest-widget .codicon[class*='codicon-'] {
  display: flex !important;
  justify-content: center;
  height: inherit !important;
  min-width: 2em;
  padding-left: 0;
  margin-right: 0.75em !important;
  text-align: center;
}
.monaco-editor .suggest-widget {
  left: 0;
  border-radius: 0px !important;
  padding-left: 0;
  text-align: center;
}
.monaco-editor .suggest-widget .codicon[class*='codicon-symbol-attribute'],
.monaco-editor .suggest-widget .codicon[class*='codicon-symbol-constant'],
.monaco-editor .suggest-widget .codicon[class*='codicon-symbol-selector'],
.monaco-editor
  .suggest-widget
  .codicon[class*='codicon-symbol-pseudo-selector'] {
  color: #d19a66 !important;
  background: rgba(209, 154, 102, 0.2);
}
.monaco-editor .suggest-widget .codicon[class*='codicon-symbol-builtin'],
.monaco-editor .suggest-widget .codicon[class*='codicon-symbol-import'],
.monaco-editor .suggest-widget .codicon[class*='codicon-symbol-keyword'],
.monaco-editor .suggest-widget .codicon[class*='codicon-symbol-module'],
.monaco-editor .suggest-widget .codicon[class*='codicon-symbol-package'],
.monaco-editor .suggest-widget .codicon[class*='codicon-symbol-require'] {
  color: #c678dd !important;
  background: rgba(198, 120, 221, 0.2);
}
.monaco-editor .suggest-widget .codicon[class*='codicon-symbol-class'],
.monaco-editor .suggest-widget .codicon[class*='codicon-symbol-mixin'],
.monaco-editor .suggest-widget .codicon[class*='codicon-symbol-tag'],
.monaco-editor .suggest-widget .codicon[class*='codicon-symbol-type'],
.monaco-editor .suggest-widget .codicon[class*='codicon-symbol-variable'] {
  color: #e06c75 !important;
  background: rgba(224, 108, 117, 0.2);
}
.monaco-editor .suggest-widget .codicon[class*='codicon-symbol-function'],
.monaco-editor .suggest-widget .codicon[class*='codicon-symbol-method'] {
  color: #61afef !important;
  background: rgba(97, 175, 239, 0.2);
}
.monaco-editor .suggest-widget .codicon[class*='codicon-symbol-property'],
.monaco-editor .suggest-widget .codicon[class*='codicon-symbol-value'] {
  color: #abb2bf !important;
  background: rgba(171, 178, 191, 0.2);
}
.monaco-editor .suggest-widget .codicon[class*='codicon-symbol-snippet'] {
  color: #98c379 !important;
  background: rgba(152, 195, 121, 0.2);
}
div.screencast-keyboard {
  background: transparent !important;
  position: fixed;
  bottom: 3.5% !important;
  right: 15% !important;
  width: 100%;
  transform: translateX(-1%);
  text-align: right !important;
  transition: 0s;
}
div.screencast-keyboard > span {
  background: #000000 !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 3px !important;
  margin-right: -1px !important;
  border-radius: 0 !important;
}
div.screencast-keyboard > span.title {
  display: none;
}

#asvetliakov\.vscode-neovim\.vscode-neovim-status {
  order: -11 !important;
}
